@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #13121b;
  --color-background-secondary: #191925;
  --color-primary: #191926;
  --color-accent: rgba(97, 97, 222, 0.5);
  --color-chart-background: #191934;
  --color-themeTextColor: #424286;
  --color-green-main: #00f58f;
  --color-red-main: #ff0015;
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 2.44%;
  min-width: 0;
  width: "200px";
}
