@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #13121b;
  --color-background-secondary: #191925;
  --color-primary: #191926;
  --color-accent: rgba(97, 97, 222, 0.5);
  --color-chart-background: #191934;
  --color-themeTextColor: #424286;
}
