@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-background: #13121b;
  --color-background-secondary: rgb(25, 25, 36);
  --color-primary: #191926;
  --color-accent: #1e1932;
  --color-chart-background: #191934;
  --color-chart-background-secondary: #ffffff;
  --color-themeTextColor: #424286;
  --color-theme-text-color-secondary: #ffffff;
  --color-theme-text-color-third: #ffffff;
  --color-highlight-color: #3d3d7e;
  --color-green-main: #01f1e3;
  --color-green-secondary: #00b1a7;
  --color-red-main: #fe2264;
  --color-nav-bar-color: #13121a;
  --color-coins-or-converter-background-color: #232336;
  --color-chart-duration-background-color: #232336;
  --color-selected-gradient: "#7878FA";
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 2.44%;
  min-width: 0;
  width: "200px";
}
